apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.cluster.namespace }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ .Values.argocd.appname }}-openbao"
  namespace: {{ .Values.argocd.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  syncPolicy:
    automated: {}
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
      - ServerSideApply=true
  project: {{ .Values.project }}
  destination:
    server: {{ .Values.cluster.address }}
    namespace: "{{ .Values.cluster.namespace }}"
  sources:
  - repoURL: {{ .Values.values.repo_URL }}
    targetRevision: {{ .Values.values.branch }}
    ref: values
  - repoURL: {{ .Values.openbao.repo_URL }}
    targetRevision: {{ .Values.openbao.targetRevision }}
    chart: {{ .Values.openbao.chart_name }}
    helm:
      valueFiles:
        {{- range .Values.openbao.valueFiles }}
        - $values/app-values/openbao/{{ . }}
        {{- end }}
      values: |
        fullnameOverride: openbao-{{ .Release.Namespace }}
        server:
          ingress:
            annotations:
              cert-manager.io/cluster-issuer: {{ .Values.cluster.issuer }}
            hosts:
              - host: secrets.{{ .Values.namespaceTag }}.{{ .Values.domainSuffix }}
            tls:
              - secretName: openbao-{{ .Values.namespaceTag }}-tls
                hosts:
                  - secrets.{{ .Values.namespaceTag }}.{{ .Values.domainSuffix }}
        {{- if .Values.openbao.resources }}
        resources: {{- toYaml .Values.openbao.resources | nindent 10 }}
        {{- end }}
  - repoURL: "https://code.europa.eu/api/v4/projects/{{ .Values.openbao_init.projectID }}/packages/helm/stable"
    targetRevision: {{ .Values.openbao_init.targetRevision }}
    chart: {{ .Values.openbao_init.chart_name }}
    helm:
      values: |
        cluster:
          namespace: {{ .Values.cluster.namespace }}
        namespaceTag: {{ .Values.namespaceTag }}
        domainSuffix: {{ .Values.domainSuffix }}
